{
	"presets": [
		"env",
		"react",
		"stage-0"
	],
	"plugins": [
		"transform-decorators-legacy"
		// "transform-runtime",
	],
	"env": {
		// only enable it when process.env.NODE_ENV is 'development' or undefined
		"development": {
			// "presets": [
			// 	"react-hmre"
			// ]
		},
		"production": {
			"plugins": [
				[
					"import",
					{
						"libraryName": "antd",
						"libraryDirectory": "es",
						"style": true
					}
				]
			]
		}
	}
}
