.view-container {
	height: calc(100% - 40px);
}

.main-tags {
	.ant-table-title {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	.ant-tabs-bar {
		margin-bottom: 0;
	}
	.ant-tabs-content:nth-child(2) {
		height: calc(100% - 40px);
		.ant-tabs-tabpane {
			height: 100%;
		}
	}
	.ant-tabs-nav-wrap {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
}

.ant-modal-header {
	padding: 15px;
}
.ant-modal-body {
	padding: 15px;
}
