@import 'entry';

body,html {
	min-width: 1300px;
	height: 100%;
	overflow: auto;
}
#root {
	height: 100%;
}

h1, h2, h3, h4, h5, p{
	margin: 0;
}

table {
	table-layout: fixed;
}

.main-table {
	.ant-table-middle .ant-table-thead > tr > th {
		padding: 7px 8px;
		border-bottom: 1px solid rgba($primary-color, 0.5);
	}
	.ant-table-middle .ant-table-tbody > tr > td {
		padding: 6px 8px;
	}

	&.edit {
		.ant-table-middle .ant-table-tbody > tr > td {
			// padding: 7px 8px;
			>.td-edit {
				cursor: pointer;
				// padding: 8px 0px;
				border-radius: 4px;
				&:hover {
					background-color: rgba($primary-color, 0.2);
				}
					/* 不换行, 省略号代替 */
				word-break: keep-all;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
